* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.designer-construct {
    min-height: 300px;
}
.parent-elements {
    display: block;
    width: 100%;
}
.constructor-block {
    float: left;
    width: 100%;
}

.parent-elements::before, .parent-elements::after, 
variants:before, variants:after, 
.constructor-block:before, .constructor-block:after,
.design-q-controls-top:before, .design-q-controls-top:after,
.constructor-block:before, .constructor-block:after
 {
    content: '';
    display: table;
    clear: both;
}

.parent-elements > .element {
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*input {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px 3px;
}

input:hover {
    border: 1px solid #999;
    box-shadow: 1px 1px 10px #ddd;
    
}*/

.parent-elements > .element.moving {
    background-color: rgb(206, 56, 56);
    opacity: 0.8;
    position: absolute;
    z-index: 999;
}

.question-element {
    width: 100%;
    margin-bottom: 2px;
    box-shadow: inset 0 0 15px #ddd;
}

.question-element > div {
    float: left;
}
.question-element::before, .question-element::after {
    display: table;
    content: '';
    clear: both;
}


.question-type {
    width: 90%;
    min-height: 35px;
    margin-bottom: 5px;
}
.question-close {
    width: 10%;
    min-height: 35px;
    text-align: right;
    margin-bottom: 5px;
}
.question-text {
    margin: 0px 0 5px;
    width: 100%;
}
.question-text input {
    width: 100%;
}
.variants {
    margin-right: -15px;
    margin-left: -15px;
}
.variant-tool {
    margin-bottom: 5px;
}